div.rainbow {
  width: 100px;
  height: 100px;
  background-color: red;
  position:relative;
  animation-name: rainbow;
  animation-duration: 16s;
  animation-delay:1s;
  animation-iteration-count:infinite;
}
@keyframes rainbow {
  0%  {background-color:black;    left:0%;  top:0px;}     
  13%  {background-color: violet; left:13%;  top:0px;}  
  26% {background-color: indigo;  left:26%;  top:0px;}   
  39%  {background-color: green;  left:39%;  top:0px;}   
  52% {background-color: blue;    left:52%;  top:0px;}     
  65%  {background-color: yellow; left:65%;  top:0px;}  
  78% {background-color: orange;  left:78%;  top:0px;}   
  100% {background-color: red;    left:89%;  top:0px;}
}
ul.pagination {
  text-align:center;
  padding: 0;
  margin: 0;
}
ul.pagination li {
  display: inline;
}
ul.pagination li a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
ul.pagination li a.active {
  background-color: #4CAF50;
  color: white;
}
ul.pagination li a:hover:not(.active) {
  background-color: #ddd;
}